{% extends 'dlouhySimpleCRUDBundle:BaseCRUD:base.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}

{% block title %}Obrazová galerie{% endblock %}
{% block bdCurrent %}Obrazová galerie{% endblock %}

{% block content %}

	<h1 class="page-header">{% block header %}{{ parent.getName() }} - Obrazová galerie{% endblock %}</h1>
	
	<input type="file" id="image_file" name="gallery[image][file][]" multiple="multiple" />	
	
	{% block form %}
		{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
		{{ form_start(form, {'attr': {'class': 'ajax-form', 'id': 'image_gallery_form'} }) }}
			{{ include('dlouhyImageBundle:ImageGallery:gallery_form.html.twig', { 'form': form }) }}
		{{ form_end(form) }}
	{% endblock %}	

{% endblock %}


{% block stylesheets %}	
	{% stylesheets 
		'%kernel.root_dir%/../vendor/kartik-v/bootstrap-fileinput/css/fileinput.min.css'
		filter='cssrewrite'	
		output='css/compiled/fileinput.css'			
	%}	
	<link rel="stylesheet" href="{{ asset_url }}" />
	{{ parent() }}
	{% endstylesheets %}					
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts 
		'%kernel.root_dir%/../vendor/kartik-v/bootstrap-fileinput/js/fileinput.js'
		'%kernel.root_dir%/../vendor/kartik-v/bootstrap-fileinput/js/locales/cs.js'
		'@dlouhyAdminTemplateBundle/Resources/public/js/bootstrap-fileinput.js'
		output='js/compiled/fileinput.js'
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}


	<script type="text/javascript">
		$(document).ready(function () {

			$.extend($.fn.fileinput.defaults, imageInputDefaults);

			$("#image_file").fileinput({
				uploadUrl: "{{ uploadPath }}", // server upload action
				uploadAsync: false,
				allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif'],
				language: 'cz'
			});

			$('#image_file').on('filebatchuploadcomplete', function (event, files, extra) {
				
				var handler = new AjaxHandler;
				handler.start();
				handler.postSuccess = function(data) {
					$('#image_file').fileinput('reset');
				};				
				return $.ajax ({
					type: 'post',
					url: "{{ showPath }}" })
					.done(function (data) {
						handler.success({response: data});
						handler.stop();						
					})
					.fail(function (jqXHR, textStatus, errorThrown) {
						handler.stop();												
					});		
				
				
				//$('#image_gallery_form').submit();				
			});

			$('.fileinput-remove').on('click', function () {
				$('#image_file').fileinput('reset');
			});

{#			confirmDialog.success = function (data) {
				$('#gallery').replaceWith(data.form);
				$('#save-modal').modal('hide');
			};#}
		});
	</script>
{% endblock javascripts %}