{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}
<div class="form-content" id="gallery">
	<div class="clearfix top10 bottom15">		
		<table class="table table-striped">
					
		{% for imageForm in form.images %}   
			{% set img = imageForm.vars.data %}
			
			<tr>
				<td class="col-md-5">			
					{% set size = 'sm' %}
					<a href="{{ img.getWebPath() }}" target="_blank">
						<img class="img-responsive img-thumbnail" src="{{ img.getWebPath(size)}}" alt="{{ img.getPath() }}">
					</a>
				</td>
				<td class="col-md-5">
					<h4>{{ img.getPath() }}</h4>

					{{ form_widget(imageForm) }}			
					{{ form_widget(form.homeImage[img.getId()]) }}
					
				</td>				
				
				<td class="col-md-2 text-right">
					<a href="{{ path(deleteRoute, {'id': parent.getId(), 'imageId': img.getId()}) }}" 
					   class="btn btn-margin btn-danger btn-xs btn-confirm btn-delete" 
					   type="button"
					   data-confirm="modal" 
					   data-confirm-title="Potvrzení smazání" 
					   data-confirm-text="Opravdu si přejete smazat obrázek?" 
					   data-confirm-ok-class="btn-primary" 
					   data-confirm-ok-text="Ano" 
					   data-confirm-cancel-text="Ne" 
					   data-confirm-cancel-class="btn-warning" 
					   data-ajax="on">
						Smazat</a>
				</td>
			</tr>
		{% endfor %}			
		</table>		
		<br />		
		
		{{ form_rest(form) }}
	</div>
</div>
